.page-game-result {
  display: flex;
  flex-direction: column;
  /*height: 94%; todo think about it*/
  height: 100%;
  justify-content: center;
}

.page-game-result__buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.page-game-result__buttons .flat-btn--medium:last-child {
  margin-left: 24px;
}

.player-result {
  margin-bottom: 36px;
}

.player-result__name {
  text-align: center;
}

.player-result__score-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.player-result__score,
.player-result__delta {
  width: 124px;
  text-align: center;
}

.player-result__delta--success {
  color: var(--color-success);
}

.player-result__delta--danger {
  color: var(--color-danger);
}

.page-game-result__no-games {
  display: flex;
  align-items: center;
  justify-content: center;
}
