.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mainArea {
  flex: 1;
  position: relative;
  padding: 16px;
}

.outcomeTitle {
  display: flex;
  align-items: center;
  font-size: var(--font-lg);
}
