.notificaton__wrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: -100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.notification__active {
  top: 20px;
  opacity: 1;
}

.notification__content {
  background-color: var(--bg-color);
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  font-size: 12px;
  border-radius: 6px;
  box-shadow: 4px 4px 18px 0 var(--shade-color);
  padding: 8px;
  max-width: 80%;
}
