<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Forseti: game & profile manager</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/png" href="forsetiico.png" />
    <script>
      window.__cfg = {
        RHEDA_URL: '<%= htmlWebpackPlugin.options.RHEDA_URL %>',
        FORSETI_URL: '<%= htmlWebpackPlugin.options.FORSETI_URL %>',
        MIMIR_URL: '<%= htmlWebpackPlugin.options.MIMIR_URL %>',
        FREY_URL: '<%= htmlWebpackPlugin.options.FREY_URL %>',
        TYR_URL: '<%= htmlWebpackPlugin.options.TYR_URL %>',
        COOKIE_DOMAIN: '<%= htmlWebpackPlugin.options.COOKIE_DOMAIN %>',
        STAT_HOST: '<%= htmlWebpackPlugin.options.STAT_HOST %>',
        ROOT_HOST: '<%= htmlWebpackPlugin.options.ROOT_HOST %>',
        STAT_SITE_ID: '<%= htmlWebpackPlugin.options.STAT_SITE_ID %>',
        ADMIN_EMAIL: '<%= htmlWebpackPlugin.options.ADMIN_EMAIL %>',
      }
    </script>
  </head>
  <body>
    <div id="forseti-root"></div>
  </body>
</html>
