@font-face {
  font-family: IBM Plex Sans;
  src: url(./fonts/Ibmplexsans.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url(./fonts/Ibmplexsanssemibold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Noto Sans Wind;
  src: url(./fonts/NotoSansWind-Regular.woff2);
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: IBM Plex Sans, Noto Sans Wind, Sans, serif;
  font-size: var(--font-size-primary);
}
