.themeDay {
  --page-bg: var(--gray-primary);
  --element-bg: var(--gray-accent-light);
  --element-highlight: var(--gray-primary);
  --panels-bg: var(--gray-accent-light);

  --color-text-primary: var(--gray-accent-darkest);
  --color-text-slight: var(--gray-accent-darker);
  --color-text-contrast: var(--gray-accent-light);

  --border-color: var(--gray-accent-darkest);
  --border-color-disabled: var(--gray-accent-dark);
  --button-text: var(--color-text-primary);

  --color-success: var(--green-primary);
  --color-danger: var(--red-primary);

  --color-action: var(--blue-primary);
  --color-highlight-primary: var(--blue-accent-dark);

  --color-riichi-point: var(--red-primary);
  --riichi-fill-color: var(--gray-accent-light);

  --wind-bg-color-east: var(--red-accent-light);
  --wind-bg-color-south: var(--yellow-accent-light);
  --wind-bg-color-west: var(--green-accent-light);
  --wind-bg-color-north: var(--blue-accent-light);

  --avatar-bg-red: #e6d0d0;
  --avatar-fg-red: #a75858;
  --avatar-bg-orange: #efd8c7;
  --avatar-fg-orange: #c87237;
  --avatar-bg-yellow: #eee2c8;
  --avatar-fg-yellow: #c4973b;
  --avatar-bg-green: #d0e6db;
  --avatar-fg-green: #59a67e;
  --avatar-bg-lime: #d7e6d0;
  --avatar-fg-lime: #70a659;
  --avatar-bg-teal: #d1e5e5;
  --avatar-fg-teal: #5ca3a1;
  --avatar-bg-cyan: #d3e2e4;
  --avatar-fg-cyan: #61969e;
  --avatar-bg-blue: #cedce9;
  --avatar-fg-blue: #5081af;
  --avatar-bg-purple: #d9d4e2;
  --avatar-fg-purple: #766699;
  --avatar-bg-grape: #e2cdea;
  --avatar-fg-grape: #974bb4;
  --avatar-bg-pink: #eacddc;
  --avatar-fg-pink: #b44b81;
}

.themeNight {
  --page-bg: var(--gray-accent-darkest);
  --element-bg: var(--black);
  --element-highlight: var(--gray-accent-darker);
  --panels-bg: var(--black);

  --color-text-primary: var(--gray-primary);
  --color-text-slight: var(--gray-accent-darker);
  --color-text-contrast: var(--gray-accent-light);

  --border-color: var(--gray-primary);
  --border-color-disabled: var(--gray-accent-darker);
  --button-text: var(--color-text-primary);

  --color-success: var(--green-accent-light);
  --color-danger: var(--red-accent-light);

  --color-action: var(--blue-accent-darkbright);
  --color-highlight-primary: var(--blue-primary);

  --color-riichi-point: var(--red-primary);
  --riichi-fill-color: var(--gray-accent-light);

  --wind-bg-color-east: var(--red-accent-dark);
  --wind-bg-color-south: var(--yellow-accent-dark);
  --wind-bg-color-west: var(--green-accent-dark);
  --wind-bg-color-north: var(--blue-accent-dark);

  --avatar-bg-red: #643535;
  --avatar-fg-red: #c79494;
  --avatar-bg-orange: #784421;
  --avatar-fg-orange: #dca57f;
  --avatar-bg-yellow: #755b24;
  --avatar-fg-yellow: #d9bc82;
  --avatar-bg-green: #35644c;
  --avatar-fg-green: #95c6ad;
  --avatar-bg-lime: #436435;
  --avatar-fg-lime: #a4c695;
  --avatar-bg-teal: #376260;
  --avatar-fg-teal: #97c4c3;
  --avatar-bg-cyan: #3a5a5f;
  --avatar-fg-cyan: #9abcc1;
  --avatar-bg-blue: #304d69;
  --avatar-fg-blue: #8faecc;
  --avatar-bg-purple: #473d5c;
  --avatar-fg-purple: #a79dbd;
  --avatar-bg-grape: #5b2d6c;
  --avatar-fg-grape: #bc8ccf;
  --avatar-bg-pink: #6c2d4d;
  --avatar-fg-pink: #cf8cae;
}

.themeJunkmat {
  --page-bg: var(--green-accent-darkest);
  --element-bg: var(--blue-accent-darkest);
  --element-highlight: var(--green-accent-dark);
  --panels-bg: var(--blue-accent-darkest);

  --color-text-primary: var(--gray-primary);
  --color-text-slight: var(--gray-accent-darker);
  --color-text-contrast: var(--gray-accent-darkest);

  --border-color: var(--gray-accent-darker);
  --border-color-disabled: var(--gray-accent-darkest);
  --button-text: var(--color-text-primary);

  --color-success: var(--green-accent-light);
  --color-danger: var(--red-accent-light);

  --color-action: var(--green-primary);
  --color-highlight-primary: var(--green-accent-dark);

  --color-riichi-point: var(--red-primary);
  --riichi-fill-color: var(--gray-accent-light);

  --wind-bg-color-east: var(--red-accent-dark);
  --wind-bg-color-south: var(--yellow-accent-dark);
  --wind-bg-color-west: var(--green-accent-dark);
  --wind-bg-color-north: var(--blue-accent-dark);

  --avatar-bg-red: #643535;
  --avatar-fg-red: #c79494;
  --avatar-bg-orange: #784421;
  --avatar-fg-orange: #dca57f;
  --avatar-bg-yellow: #755b24;
  --avatar-fg-yellow: #d9bc82;
  --avatar-bg-green: #35644c;
  --avatar-fg-green: #95c6ad;
  --avatar-bg-lime: #436435;
  --avatar-fg-lime: #a4c695;
  --avatar-bg-teal: #376260;
  --avatar-fg-teal: #97c4c3;
  --avatar-bg-cyan: #3a5a5f;
  --avatar-fg-cyan: #9abcc1;
  --avatar-bg-blue: #304d69;
  --avatar-fg-blue: #8faecc;
  --avatar-bg-purple: #473d5c;
  --avatar-fg-purple: #a79dbd;
  --avatar-bg-grape: #5b2d6c;
  --avatar-fg-grape: #bc8ccf;
  --avatar-bg-pink: #6c2d4d;
  --avatar-fg-pink: #cf8cae;
}

.common {
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 22px;

  --size-sm: 18px;
  --size-md: 26px;
  --size-lg: 34px;

  --font-header: 36px;

  --gray-primary: #bbb;
  --gray-accent-light: #ddd;
  --gray-accent-dark: #888;
  --gray-accent-darker: #666;
  --gray-accent-darkest: #333;
  --black: #222;

  --red-primary: #d32b2b;
  --red-accent-dark: #845252;
  --red-accent-light: #d38282;

  --green-primary: #0da678;
  --green-accent-dark: #456945;
  --green-accent-darker: #123327;
  --green-accent-darkest: #113631;
  --green-accent-light: #86cb86;

  --blue-primary: #75e;
  --blue-accent-light: #a1a1d9;
  --blue-accent-dark: #5d5d7e;
  --blue-accent-darkest: #2c2c3c;
  --blue-accent-darkbright: #2b2ba6;

  --yellow-accent-light: #ded789;
  --yellow-accent-dark: #75734a;
}
