.settings-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.settings-container .label {
  flex: 1;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: var(--margin-size);
  text-align: right;
  padding-right: 10px;
  color: var(--main-text-color);
}

.settings-container .buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.settings-container .buttons button {
  font-size: 20px;
  padding: 10px 5px;
  outline: none;
  flex: 1;
  justify-content: center;
  margin: 0 var(--margin-size);
}

.settings-container .buttons button > * {
  flex: 1;
}

.previewBox {
  flex: none !important;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin: 1px;
  float: right;
}
