<div class="settings-container">
  <div class="label">{{_SELECT_LANGUAGE}}</div>
  <div class="buttons">
    <ng-template ngFor let-lang [ngForOf]="supportedLanguages" let-i="lang">
      <button (click)="selectLanguage(lang)"><custom-icon [type]="'flag-' + lang" [resize]="40"></custom-icon></button>
    </ng-template>
  </div>
  <br />
  <div class="label">{{_SELECT_THEME}}</div>
  <div class="buttons" style="flex-direction: column">
    <ng-template ngFor let-theme [ngForOf]="supportedThemes" let-i="theme">
      <button (click)="selectTheme(theme.name)">
        {{theme.humanReadableTitle}}
        <span class="previewBox" [style.background-color]="theme.properties['--main-bg-color']"></span>
        <span class="previewBox" [style.background-color]="theme.properties['--main-button-bg-color']"></span>
        <span class="previewBox" [style.background-color]="theme.properties['--main-text-color']"></span>
        <span class="previewBox" [style.background-color]="theme.properties['--secondary-bg-color']"></span>
        <span class="previewBox" [style.background-color]="theme.properties['--secondary-text-color']"></span>
      </button><br />
    </ng-template>
  </div>
  <div class="label">{{_USER_ACTIONS}}</div>
  <div class="buttons">
    <button (click)="logout()">{{_LOGOUT}}</button>
  </div>
</div>
