.idea/
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.swp
*.code-workspace

.DS_Store
Thumbs.db

Mimir/config/local/*
Mimir/vendor/
Mimir/data/db.sqlite
Mimir/tests/data/*

Rheda/.vagrant
Rheda/vendor/
Rheda/var/www-error.log
Rheda/config/local/index.php

Ratatosk/target

Tyr/dist
Tyr/tmp
Tyr/node_modules
Tyr/bower_components
Tyr/.sass-cache
Tyr/package-lock.json
Tyr/connect.lock
Tyr/coverage/*
Tyr/libpeerconnection.log
Tyr/npm-debug.log
Tyr/testem.log
Tyr/typings
Tyr/yarn-error.log

Frey/config/local/*
Frey/vendor/
Frey/data/db.sqlite
Frey/tests/data/*
