.idea/
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.swp
*.code-workspace
.phpunit.result.cache
php-errors.log

.env.production
Tyr/.env.production
Forseti/.env.production
Sigrun/.env.production
Tyr/.env.development
Forseti/.env.development
Sigrun/.env.development

.DS_Store
Thumbs.db

Common/protoc-bin/

Database/export.tar.gz

Mimir/config/local/*
Mimir/vendor/
Mimir/data/db.sqlite
Mimir/data/verbose.log
Mimir/tests/data/*

Hugin/vendor/

Tyr/dist
Tyr/tmp
Tyr/node_modules
Tyr/bower_components
Tyr/.sass-cache
Tyr/package-lock.json
Tyr/connect.lock
Tyr/coverage/*
Tyr/libpeerconnection.log
Tyr/npm-debug.log
Tyr/testem.log
Tyr/typings
Tyr/yarn-error.log
Tyr/app/i18n/*.mo

Forseti/app/i18n/*.mo
Sigrun/src/i18n/*.mo

Frey/config/local/*
Frey/vendor/
Frey/data/verbose.log
Frey/data/db.sqlite
Frey/tests/data/*

Sigrun-dist/.env.production
Sigrun-dist/node_modules

Hermod/opendkim_keys/*.private
