.result-arrows {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-arrows__inner {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.result-arrows__inner svg {
  overflow: visible;
  box-shadow: 0 0 10000px transparent;
}

.result-arrows__inner svg text {
  font-size: var(--font-size-small-1);
}
