{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<h2>Последние сыгранные игры</h2>
<br>
<div class="last-games">
    {{#noGames}}
        Ни одной игры еще не сыграно
    {{/noGames}}
    {{^noGames}}
        {{> partials/Games }}
        <div class='pagination'><ul>
            <li>{{#a href='/last/?page={prevPage}'}}Назад{{/a}}</li>
            <li>{{#a href='/last/?page={nextPage}'}}Вперед{{/a}}</li>
        </ul></div>
    {{/noGames}}
</div>
