{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Rheda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="/assets/css/bootstrap.css?1" rel="stylesheet">
    <script src="/assets/js/jquery.js?1"></script>
    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.highlighter.js"></script>
    <script type="text/javascript" src="/assets/js/jqplot.cursor.js"></script>
    <script type="text/javascript" src="/assets/bundle.js?2"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.jqplot.min.css"/>
    <link rel="shortcut icon" href="/assets/ico/rhedaico.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/rhedahires.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css?1">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-brand">
        {{#a class='nav-link' href='/'}}{{eventTitle}}{{/a}}
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">{{#a class='nav-link' href='/last/'}}Сыгранные игры{{/a}}</li>
            <li class="nav-item">{{#a class='nav-link' href='/stat/'}}Рейтинг{{/a}}</li>
            {{#isOnline}}
                <li class="nav-item">{{#a class='nav-link' href='/add-online/'}}+Онлайн-игра{{/a}}</li>
            {{/isOnline}}
            {{#isLoggedIn}}
                <li class="nav-item dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       id="navbarDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >Администрирование</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{^isOnline}}
                            {{#isTournament}}
                                {{#a class='dropdown-item' href='/tourn/'}}Управление турниром{{/a}}
                            {{/isTournament}}
                            {{^isTournament}}
                                {{#a class='dropdown-item' href='/games/'}}Управление играми{{/a}}
                            {{/isTournament}}
                            {{#usePenalty}}
                                {{#a class='dropdown-item' href='/penalties/'}}Штрафы{{/a}}
                            {{/usePenalty}}
                        {{/isOnline}}
                        {{#a class='dropdown-item' href='/enroll/'}}Добавить игрока{{/a}}
                        {{#a class='dropdown-item' href='/reg/'}}Игроки и регистрация{{/a}}
                        {{#a class='dropdown-item' href='/achievements/'}}Номинации{{/a}}
                        {{!--
                            #href '/sortition/' Пересечения&nbsp;&nbsp;<span style="opacity: 0.5"
                            class="icon-lock icon-white"></span> /href
                        --}}
                    </div>
                </li>
            {{/isLoggedIn}}
            {{#useTimer}}
                <li class="nav-item">{{#a class='nav-link' href='/timer/' target='_blank'}}Таймер и рассадка{{/a}}</li>
            {{/useTimer}}
            {{^isLoggedIn}}
                <li class="nav-item">
                    {{#a class='nav-link' href='/login/'}}Вход&nbsp;&nbsp;<span style="opacity: 0.5" class="icon-lock icon-white"></span>{{/a}}
                </li>
            {{/isLoggedIn}}
        </ul>
    </div>
</nav>
<div class="container">
    {{{content}}}
</div>

</body>
</html>
