{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Rheda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="">

    <script type="text/javascript" src="/assets/js/jquery.js?1"></script>
    <script type="text/javascript" src="/assets/js/jquery.jqplot.min.js?1"></script>
    <script type="text/javascript" src="/assets/js/jqplot.categoryAxisRenderer.min.js?1"></script>
    <script type="text/javascript" src="/assets/js/jqplot.barRenderer.min.js?1"></script>
    <script type="text/javascript" src="/assets/js/jqplot.highlighter.js?1"></script>
    <script type="text/javascript" src="/assets/js/jqplot.cursor.js?1"></script>
    <script type="text/javascript" src="/assets/bundle-mobile.js?1"></script>

    <link rel="shortcut icon" href="/assets/ico/rhedaico.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/rhedahires.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.jqplot.min.css?1"/>
    <link rel="stylesheet" type="text/css" href="/assets/styles-mobile.css?1">
</head>
<body>
<div class="home-button">
    {{#a href='/'}}
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#ccc">
        <path d="M16 0 L32 16 L28 16 L28 30 L20 30 L20 20 L12 20 L12 30 L4 30 L4 16 L0 16 Z"/>
      </svg>
    {{/a}}
</div>
<div class="lastgames-button">
  {{#a href='/last/'}}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375 375" fill="#ccc" xml:space="preserve">
      <path d="M135,161H30C13,161,0,175,0,192v104c0,17,13,30,30,30h104c17,0,30-13,30-30V192C166,175,152,161,135,161z M151,297c0,8-7,15-15,15H30c-8,0-15-7-15-15V192c0-8,7-15,15-15h104c8,0,15,7,15,15V297z"/>
      <path d="M372,161l-42-95c-3-7-9-13-17-16c-7-2-16-2-23,0l-95,42c-7,3-13,9-16,17c-2,7-2,16,0,23l42,95c3,7,9,13,17,16c3,1,7,2,11,2c4,0,8-0,12-2l95-42v0C372,195,379,177,372,161z M359,179c-1,3-4,7-8,8v0l-95,42c-3,1-8,1-12,0c-3-1-7-4-8-8l-42-95c-1-3-1-8-0-12s4-7,8-8l95-42c2-0,4-1,6-1c1,0,3,0,5,1c3,1,7,4,8,8l42,95C360,171,361,175,359,179z"/>
      <path d="M280,138c-3-2-8-1-11,0c-3,2-4,7-2,10c1,3,5,6,9,6c4,0,8-3,9-8C286,145,284,141,280,138z"/>
      <path d="M44,215c4,0,8-3,9-8c0-4-1-8-4-10c-3-2-8-1-11,0c-3,2-4,7-3,10C36,212,40,215,44,215z"/>
      <path d="M44,254c4,0,8-3,9-8c0-4-1-8-4-10c-3-2-8-1-11,0c-3,2-4,7-3,10C36,252,40,254,44,254z"/>
      <path d="M49,276c-3-2-8-1-11,0c-3,2-4,7-3,10c1,4,5,6,9,6c4,0,8-3,9-8C55,282,53,278,49,276z"/>
      <path d="M121,215c4,0,8-3,9-7c0-4-0-8-4-10c-3-2-8-1-11,0c-3,2-4,7-2,10C113,212,117,215,121,215z"/>
      <path d="M127,236c-3-2-8-1-11,0c-3,2-4,6-2,10c1,4,5,6,9,6c4,0,8-3,9-8C132,242,130,238,127,236z"/>
      <path d="M127,276c-3-2-8-1-11,0c-3,2-4,7-2,10c1,3,5,6,9,6c4,0,8-3,9-8C132,282,130,278,127,276z"/>
    </svg>
  {{/a}}
</div>
<div class="ratingtable-button">
  {{#a href='/stat/'}}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 297 297" fill="#ccc" xml:space="preserve">
      <path d="M119,51l-1,21c-0,1,0,3,2,4c1,1,3,1,4,0l20-8l20,8c0,0,1,0,1,0c1,0,2-0,2-0c1-1,2-2,2-4l-1-21l14-16c1-1,1-3,0-4c-0-1-1-2-3-3l-21-5L149,2C148,0,146,0,144,0c-1,0-3,0-4,2l-11,18l-21,5c-1,0-3,1-3,3c-0,1-0,3,0,4L119,51z"/>
      <path d="M288,177h-71V97c0-3-3-6-6-6H87c-3,0-6,3-6,6v45H8c-3,0-6,3-6,6v140c0,3,3,6,6,6h280c3,0,6-3,6-6V184C295,181,292,177,288,177z M74,239c0,4-3,7-7,7H54v6H67c4,0,7,3,7,7c0,4-3,7-7,7H46c-4,0-7-3-7-7v-21c0-4,3-7,7-7h13v-7H46c-4,0-7-3-7-7s3-7,7-7H67c4,0,7,3,7,7V239z M155,166c0,4-3,7-7,7s-7-3-7-7v-24h-1c-4,0-7-3-7-7c0-4,3-7,7-7h9c4,0,7,3,7,7V166zM259,261c0,4-3,7-7,7h-20c-4,0-7-3-7-7c0-4,3-7,7-7h13v-6h-13c-4,0-7-3-7-7c0-4,3-7,7-7h13v-7h-13c-4,0-7-3-7-7s3-7,7-7h20c4,0,7,3,7,7V261z"/>
    </svg>
  {{/a}}
</div>
<div class="container">
    {{{content}}}
</div>
<div class="bottom-fade"></div>

</body>
</html>
