{{!*  Rheda: visualizer and control panel
*  Copyright (C) 2016  o.klimenko aka ctizen
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*}}

<h2 class="header-title">{{_t 'Recent games'}}</h2>
<div class="main-content">
    {{#noGames}}
        {{_t 'No games are played yet'}}
    {{/noGames}}
    {{^noGames}}
        <p>{{_p '%d - %d (%d total)' start end gamesCount}}</p>
        <div class="games">
            {{> partials/MobileGames }}
        </div>
        {{#hasPreviousButton}}
            {{#a href='/last/?page={prevPage}' class='prevbutton'}}
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 445 445" xml:space="preserve" fill="#ccc">
                    <path transform="rotate(180 222 222)" d="M352,197L166,11C159,4,150,0,140,0c-10,0-19,4-26,11L93,32c-7,7-11,15-11,26c0,10,4,19,11,26l139,138L93,361c-7,7-11,16-11,26c0,10,4,19,11,26l22,21c7,7,16,11,26,11c10,0,19-4,26-11l186-186c7-7,11-16,11-26C363,212,359,204,352,197z"/>
                </svg>
            {{/a}}
        {{/hasPreviousButton}}

        {{#hasNextButton}}
            {{#a href='/last/?page={nextPage}' class='nextbutton'}}
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 445 445" xml:space="preserve" fill="#ccc">
                    <path d="M352,197L166,11C159,4,150,0,140,0c-10,0-19,4-26,11L93,32c-7,7-11,15-11,26c0,10,4,19,11,26l139,138L93,361c-7,7-11,16-11,26c0,10,4,19,11,26l22,21c7,7,16,11,26,11c10,0,19-4,26-11l186-186c7-7,11-16,11-26C363,212,359,204,352,197z"/>
                </svg>
            {{/a}}
        {{/hasNextButton}}

    {{/noGames}}
</div>
