<h2>Архивные турниры и рейтинги</h2>

<ul>
<li><a href="https://old.riichimahjong.org/eid361/stat">Autumn Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid360/stat">Summer Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid349/stat">Командный турнир Агари</a></li>
<li><a href="https://old.riichimahjong.org/eid348/stat">Winter Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid347/stat">Winter Team Fight</a></li>
<li><a href="https://old.riichimahjong.org/eid346/stat">5G tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid345/stat">IORMC Qual.</a></li>
<li><a href="https://old.riichimahjong.org/eid344/stat">Autumn Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid343/stat">Damaten Петергоф</a></li>
<li><a href="https://old.riichimahjong.org/eid342/stat">Ханты-Мансийск-IV</a></li>
<li><a href="https://old.riichimahjong.org/eid341/stat">Perm Autumn 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid340/stat">Ветер удачи сезон 2022</a></li>
<li><a href="https://old.riichimahjong.org/eid339/stat">Suiken Восеньскі</a></li>
<li><a href="https://old.riichimahjong.org/eid338/stat">I wish to have dora san...</a></li>
<li><a href="https://old.riichimahjong.org/eid337/stat">Summer tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid336/stat">Иркутск, сезон 2021-2022</a></li>
<li><a href="https://old.riichimahjong.org/eid335/stat">Иркутск. Летний турнир 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid334/stat">Беспросвет 2021 v2</a></li>
<li><a href="https://old.riichimahjong.org/eid333/stat">Весь мир Маджонг</a></li>
<li><a href="https://old.riichimahjong.org/eid332/stat">Midori, Минск, 2021.2</a></li>
<li><a href="https://old.riichimahjong.org/eid331/stat">Oyaebu mahjong camp</a></li>
<li><a href="https://old.riichimahjong.org/eid330/stat">Настолкэмп-18</a></li>
<li><a href="https://old.riichimahjong.org/eid329/stat">Агари 2021-II</a></li>
<li><a href="https://old.riichimahjong.org/eid328/stat">Fast and Expensive</a></li>
<li><a href="https://old.riichimahjong.org/eid327/stat">Паренчан</a></li>
<li><a href="https://old.riichimahjong.org/eid326/stat">Командный турнир Рыбалки</a></li>
<li><a href="https://old.riichimahjong.org/eid325/stat">Archangelsk test</a></li>
<li><a href="https://old.riichimahjong.org/eid324/stat">HaiteiSimf 2021-II</a></li>
<li><a href="https://old.riichimahjong.org/eid323/stat">Командный турнир Рыбалки</a></li>
<li><a href="https://old.riichimahjong.org/eid322/stat">Suiken Летні 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid321/stat">Team Tournament 2021-1</a></li>
<li><a href="https://old.riichimahjong.org/eid320/stat">Spring tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid319/stat">No Dora tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid318/stat">Турнир Надежды</a></li>
<li><a href="https://old.riichimahjong.org/eid317/stat">Риичи номи</a></li>
<li><a href="https://old.riichimahjong.org/eid316/stat">Ханты-Мансийск-II</a></li>
<li><a href="https://old.riichimahjong.org/eid315/stat">Hard Midori Tournament 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid314/stat">маджонг башҡортостан республикаһы буйынса турнир риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid313/stat">Suiken Вясновы 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid312/stat">Web dragon tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid311/stat">Winter tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid310/stat">Иркутск, сезон 2020-2021</a></li>
<li><a href="https://old.riichimahjong.org/eid309/stat">Иркутск. Зимний турнир 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid308/stat">Беспросвет 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid307/stat">Челябинский клуб Риичи-Маджонга</a></li>
<li><a href="https://old.riichimahjong.org/eid306/stat">Сейхоку 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid305/stat">Fuck the COVID</a></li>
<li><a href="https://old.riichimahjong.org/eid304/stat">AL'21</a></li>
<li><a href="https://old.riichimahjong.org/eid303/stat">Пятый запад, 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid302/stat">Christmas marathon</a></li>
<li><a href="https://old.riichimahjong.org/eid301/stat">Midori, Минск, 2021.1</a></li>
<li><a href="https://old.riichimahjong.org/eid299/stat">Киров 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid298/stat">Агари 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid297/stat">Екатеринбург, 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid296/stat">Ханты-Мансийск 2021-I</a></li>
<li><a href="https://old.riichimahjong.org/eid295/stat">Дзянсо "Челябинский джентельмен"</a></li>
<li><a href="https://old.riichimahjong.org/eid293/stat">Турнир "Демоны зимнего ветра"</a></li>
<li><a href="https://old.riichimahjong.org/eid292/stat">Team Tournament 2020-2</a></li>
<li><a href="https://old.riichimahjong.org/eid291/stat">M.League 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid290/stat">★HOKUTO・RESURRECTION ┃ 北斗・リザレクション★</a></li>
<li><a href="https://old.riichimahjong.org/eid289/stat">Suiken Фінал 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid288/stat">Suiken Зімовы 2021</a></li>
<li><a href="https://old.riichimahjong.org/eid287/stat">Беспросвет</a></li>
<li><a href="https://old.riichimahjong.org/eid286/stat">Five Years of Fishing</a></li>
<li><a href="https://old.riichimahjong.org/eid285/stat">Риичи номи</a></li>
<li><a href="https://old.riichimahjong.org/eid283/stat">IORMC отборы</a></li>
<li><a href="https://old.riichimahjong.org/eid282/stat">Autumn tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid281/stat">梅雨 tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid280/stat">Ханты-Мансийск 2020-IV</a></li>
<li><a href="https://old.riichimahjong.org/eid279/stat">Suiken Восеньскі 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid278/stat">Якитори</a></li>
<li><a href="https://old.riichimahjong.org/eid276/stat">Кэмп-17</a></li>
<li><a href="https://old.riichimahjong.org/eid275/stat">Ветер удачи сезон режима ХЗ</a></li>
<li><a href="https://old.riichimahjong.org/eid274/stat">Пятый запад</a></li>
<li><a href="https://old.riichimahjong.org/eid273/stat">Midori, Минск, 2020.2</a></li>
<li><a href="https://old.riichimahjong.org/eid272/stat">Ханты-Мансийск 2020-III</a></li>
<li><a href="https://old.riichimahjong.org/eid271/stat">Summer Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid270/stat">Riichi Online Open Team Cup</a></li>
<li><a href="https://old.riichimahjong.org/eid269/stat">Spring Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid268/stat">Be cool stay home</a></li>
<li><a href="https://old.riichimahjong.org/eid266/stat">Corona go away</a></li>
<li><a href="https://old.riichimahjong.org/eid265/stat">Инь Ян</a></li>
<li><a href="https://old.riichimahjong.org/eid264/stat">Bakudan 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid263/stat">Suiken Летні 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid262/stat">Ханты-Мансийск 2020-II</a></li>
<li><a href="https://old.riichimahjong.org/eid261/stat">Большое открытое читойцу</a></li>
<li><a href="https://old.riichimahjong.org/eid260/stat">Suiken Вясновы 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid259/stat">Риичи номи</a></li>
<li><a href="https://old.riichimahjong.org/eid258/stat">Perm Spring 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid257/stat">Фестиваль интеллектуальных игр</a></li>
<li><a href="https://old.riichimahjong.org/eid256/stat">Риичи номи</a></li>
<li><a href="https://old.riichimahjong.org/eid255/stat">Riichi Online Open Team Cup 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid253/stat">Клуб Даматен</a></li>
<li><a href="https://old.riichimahjong.org/eid252/stat">Большая рыба</a></li>
<li><a href="https://old.riichimahjong.org/eid251/stat">Последний шанс</a></li>
<li><a href="https://old.riichimahjong.org/eid250/stat">Unity Midori Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid249/stat">Bakudan</a></li>
<li><a href="https://old.riichimahjong.org/eid247/stat">Midori, Минск, 2020.1</a></li>
<li><a href="https://old.riichimahjong.org/eid246/stat">Сейхоку 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid245/stat">Турнир Снежного Дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid244/stat">Агари</a></li>
<li><a href="https://old.riichimahjong.org/eid243/stat">Midori, Минск, 2020.1 [x]</a></li>
<li><a href="https://old.riichimahjong.org/eid242/stat">Екатеринбург, 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid241/stat">Ханты-Мансийск 2020-I</a></li>
<li><a href="https://old.riichimahjong.org/eid240/stat">ShinNen</a></li>
<li><a href="https://old.riichimahjong.org/eid239/stat">Киров</a></li>
<li><a href="https://old.riichimahjong.org/eid238/stat">Открытый турнир в закрытом городе</a></li>
<li><a href="https://old.riichimahjong.org/eid236/stat">12 злобных</a></li>
<li><a href="https://old.riichimahjong.org/eid235/stat">АрхЛига 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid234/stat">Ной и пей</a></li>
<li><a href="https://old.riichimahjong.org/eid233/stat">Иркутск. Зимний турнир 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid231/stat">Инь Ян [архивный]</a></li>
<li><a href="https://old.riichimahjong.org/eid230/stat">Уфа, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid229/stat">Ренчан, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid227/stat">Perm Winter 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid226/stat">Hrodna Christmas tournament 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid225/stat">Suiken Фінал 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid224/stat">Suiken Зімовы 2020</a></li>
<li><a href="https://old.riichimahjong.org/eid223/stat">SPb Riichi Open 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid222/stat">Осенний шантен 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid221/stat">Minsk Midori open 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid220/stat">Ветер удачи, сезон 1</a></li>
<li><a href="https://old.riichimahjong.org/eid219/stat">Ханты-Мансийск 2019-IV</a></li>
<li><a href="https://old.riichimahjong.org/eid218/stat">Отборочные на IORMC 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid217/stat">Иркутск, сезон 2019-2020</a></li>
<li><a href="https://old.riichimahjong.org/eid216/stat">Autumn Online Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid215/stat">Suiken Восеньскі чэмпiянат 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid214/stat">Черный дракон 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid213/stat">Турнир имени Зеленого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid212/stat">Cologne club games</a></li>
<li><a href="https://old.riichimahjong.org/eid211/stat">И всё же грешник собирает таняо</a></li>
<li><a href="https://old.riichimahjong.org/eid210/stat">Cyprus Riichi Club - Season 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid209/stat">Ежегодный турнир Иваново</a></li>
<li><a href="https://old.riichimahjong.org/eid208/stat">Турнир Перевёрнутого Чуна</a></li>
<li><a href="https://old.riichimahjong.org/eid207/stat">Архангельск</a></li>
<li><a href="https://old.riichimahjong.org/eid206/stat">Финал СЗД</a></li>
<li><a href="https://old.riichimahjong.org/eid205/stat">Полуфинал СЗД</a></li>
<li><a href="https://old.riichimahjong.org/eid204/stat">Summer Online Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid203/stat">Moscow Marathon 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid202/stat">Настолкэмп-16</a></li>
<li><a href="https://old.riichimahjong.org/eid201/stat">Ханты-Мансийск 2019-III</a></li>
<li><a href="https://old.riichimahjong.org/eid200/stat">VIII Russian Riichi Championship</a></li>
<li><a href="https://old.riichimahjong.org/eid199/stat">Агари</a></li>
<li><a href="https://old.riichimahjong.org/eid198/stat">Midori, Минск</a></li>
<li><a href="https://old.riichimahjong.org/eid197/stat">Пермский полумарафон</a></li>
<li><a href="https://old.riichimahjong.org/eid196/stat">Nederlandse mahjong bond</a></li>
<li><a href="https://old.riichimahjong.org/eid195/stat">ERMC 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid194/stat">ERMC Social play</a></li>
<li><a href="https://old.riichimahjong.org/eid192/stat">URAL Mahjong Battle</a></li>
<li><a href="https://old.riichimahjong.org/eid191/stat">Чун, Нижний Новгород</a></li>
<li><a href="https://old.riichimahjong.org/eid190/stat">Suiken Летні чэмпiянат 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid189/stat">Летний кубок Сейхоку 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid188/stat">Иркутск, лето 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid187/stat">Иркутск. Летний турнир 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid186/stat">Весенний шантен 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid185/stat">Graz Riichi Open 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid184/stat">RyanPin - 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid183/stat">Сейхоку, 3-й сезон, финал</a></li>
<li><a href="https://old.riichimahjong.org/eid182/stat">Сейхоку, 4 сезон</a></li>
<li><a href="https://old.riichimahjong.org/eid181/stat">МКРМ</a></li>
<li><a href="https://old.riichimahjong.org/eid180/stat">Ханты-Мансийск 2019-II</a></li>
<li><a href="https://old.riichimahjong.org/eid179/stat">Риичи прилетели</a></li>
<li><a href="https://old.riichimahjong.org/eid178/stat">Иркутск, весна 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid177/stat">Весенний турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid176/stat">Suiken Вясновы чэмпiянат 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid175/stat">Zentsupa</a></li>
<li><a href="https://old.riichimahjong.org/eid174/stat">Фестиваль интеллектуальных игр</a></li>
<li><a href="https://old.riichimahjong.org/eid173/stat">Team online tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid172/stat">Киров</a></li>
<li><a href="https://old.riichimahjong.org/eid171/stat">Турнир Той-той-мена</a></li>
<li><a href="https://old.riichimahjong.org/eid170/stat">Зимний шантен 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid169/stat">Весенний турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid168/stat">Сезон зеленого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid167/stat">Финал сезона белого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid166/stat">Полуфиналы сезона белого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid165/stat">Бийск, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid164/stat">Winter Online Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid163/stat">Агари командный 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid162/stat">Рождественский мини-турнир 2019 г. Гродно</a></li>
<li><a href="https://old.riichimahjong.org/eid161/stat">Екатеринбург, 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid160/stat">Ханты-Мансийск 2019-I</a></li>
<li><a href="https://old.riichimahjong.org/eid159/stat">Агари</a></li>
<li><a href="https://old.riichimahjong.org/eid158/stat">Пьяный байнин</a></li>
<li><a href="https://old.riichimahjong.org/eid157/stat">Небо белого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid156/stat">Северный кубок</a></li>
<li><a href="https://old.riichimahjong.org/eid154/stat">Иркутск, зима 2018-2019</a></li>
<li><a href="https://old.riichimahjong.org/eid153/stat">Акадора</a></li>
<li><a href="https://old.riichimahjong.org/eid152/stat">Снежный дракон</a></li>
<li><a href="https://old.riichimahjong.org/eid151/stat">Турнир белого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid150/stat">Russian Riichi & Mahjong Shinsengumi</a></li>
<li><a href="https://old.riichimahjong.org/eid149/stat">Ветер удачи</a></li>
<li><a href="https://old.riichimahjong.org/eid148/stat">Suiken Зiмовы чэмпiянат 2019</a></li>
<li><a href="https://old.riichimahjong.org/eid147/stat">Иркутск, осень 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid146/stat">HaiteiSimf</a></li>
<li><a href="https://old.riichimahjong.org/eid145/stat">Ryan Pin Online Tournament</a></li>
<li><a href="https://old.riichimahjong.org/eid143/stat">H8ful eight</a></li>
<li><a href="https://old.riichimahjong.org/eid142/stat">H8ful eight</a></li>
<li><a href="https://old.riichimahjong.org/eid141/stat">Риичи номи</a></li>
<li><a href="https://old.riichimahjong.org/eid140/stat">Кукан (Уфа)</a></li>
<li><a href="https://old.riichimahjong.org/eid139/stat">Сезон белого дракона</a></li>
<li><a href="https://old.riichimahjong.org/eid138/stat">Сейхоку, 2-й сезон, финал</a></li>
<li><a href="https://old.riichimahjong.org/eid137/stat">Tsukimi, 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid136/stat">Zilant Mahjong</a></li>
<li><a href="https://old.riichimahjong.org/eid135/stat">Черный дракон, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid134/stat">Пробуждение дракона восходящего солнца</a></li>
<li><a href="https://old.riichimahjong.org/eid133/stat">Сейхоку, 2-й сезон, финалы, 1/2</a></li>
<li><a href="https://old.riichimahjong.org/eid132/stat">Ханты-Мансийск 2018-IV</a></li>
<li><a href="https://old.riichimahjong.org/eid131/stat">Отборочные на IORMC 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid130/stat">Западный кубок 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid129/stat">Осенний кубок 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid128/stat">Чемпионат Архангельска</a></li>
<li><a href="https://old.riichimahjong.org/eid127/stat">Сейхоку, 2-й сезон, финалы, 1/4 В</a></li>
<li><a href="https://old.riichimahjong.org/eid126/stat">Сейхоку, 2-й сезон, финалы, 1/4 А</a></li>
<li><a href="https://old.riichimahjong.org/eid125/stat">Осенний турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid124/stat">Осенний рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid123/stat">Иркутск, осень 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid122/stat">Осенний онлайн турнир 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid121/stat">Suomi free roll</a></li>
<li><a href="https://old.riichimahjong.org/eid120/stat">Сейхоку, 3 сезон</a></li>
<li><a href="https://old.riichimahjong.org/eid119/stat">ГВР</a></li>
<li><a href="https://old.riichimahjong.org/eid118/stat">Moscow riichi open 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid117/stat">Летний шантен 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid116/stat">Сибирский риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid115/stat">Открытый турнир г. Иваново</a></li>
<li><a href="https://old.riichimahjong.org/eid114/stat">Марафон 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid113/stat">Семь рянменов</a></li>
<li><a href="https://old.riichimahjong.org/eid112/stat">Новороссийск</a></li>
<li><a href="https://old.riichimahjong.org/eid111/stat">Турнир победителей: финал</a></li>
<li><a href="https://old.riichimahjong.org/eid110/stat">Семь рянменов (test)</a></li>
<li><a href="https://old.riichimahjong.org/eid109/stat">Moscow Open Riichi Marathon 2018 II</a></li>
<li><a href="https://old.riichimahjong.org/eid108/stat">Субботние посиделки</a></li>
<li><a href="https://old.riichimahjong.org/eid107/stat">Stockholm free roll</a></li>
<li><a href="https://old.riichimahjong.org/eid106/stat">Moscow Open Riichi Marathon 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid105/stat">Настолкэмп. Лето-2018</a></li>
<li><a href="https://old.riichimahjong.org/eid104/stat">Летний онлайн турнир 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid103/stat">Ханты-Мансийск 2018-III</a></li>
<li><a href="https://old.riichimahjong.org/eid102/stat">Южный кубок 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid101/stat">Турнир победителей: второй этап</a></li>
<li><a href="https://old.riichimahjong.org/eid100/stat">Aki shanten 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid99/stat">Иркутск, лето 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid98/stat">Агари, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid97/stat">Пермь, лето 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid96/stat">Russia free roll</a></li>
<li><a href="https://old.riichimahjong.org/eid95/stat">Турнир победителей: первый этап</a></li>
<li><a href="https://old.riichimahjong.org/eid94/stat">Agari testing</a></li>
<li><a href="https://old.riichimahjong.org/eid93/stat">Киров</a></li>
<li><a href="https://old.riichimahjong.org/eid92/stat">А-Лига, 4 этап</a></li>
<li><a href="https://old.riichimahjong.org/eid91/stat">MAHJONG SUIKEN BIRTHDAY</a></li>
<li><a href="https://old.riichimahjong.org/eid90/stat">Гродно, клуб Суикен</a></li>
<li><a href="https://old.riichimahjong.org/eid89/stat">Весенний Шантен 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid88/stat">Весенний турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid87/stat">А-Лига, 3 этап</a></li>
<li><a href="https://old.riichimahjong.org/eid86/stat">Весенний онлайн турнир 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid85/stat">Ханты-Мансийск 2018-II</a></li>
<li><a href="https://old.riichimahjong.org/eid84/stat">Екатеринбург, март 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid83/stat">А-Лига, 2 этап</a></li>
<li><a href="https://old.riichimahjong.org/eid82/stat">Гродно, клуб Суикен</a></li>
<li><a href="https://old.riichimahjong.org/eid81/stat">Восточный кубок 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid80/stat">Иркутск, весна 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid79/stat">Архангельск, весенний сезон</a></li>
<li><a href="https://old.riichimahjong.org/eid78/stat">Зимний турнир по риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid77/stat">“Зимний Шантен” 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid76/stat">А-Лига, 1 этап</a></li>
<li><a href="https://old.riichimahjong.org/eid73/stat">Зимний онлайн турнир 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid71/stat">Сейхоку, 2 сезон</a></li>
<li><a href="https://old.riichimahjong.org/eid70/stat">Cyprus Riichi Club</a></li>
<li><a href="https://old.riichimahjong.org/eid69/stat">Seihoku BEST-8, season 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid68/stat">Иркутск, зимний турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid67/stat">Саров, клубный рейтинг</a></li>
<li><a href="https://old.riichimahjong.org/eid66/stat">Январь 2018, Екб, мини-турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid65/stat">Ханты-Мансийск 2018-I</a></li>
<li><a href="https://old.riichimahjong.org/eid64/stat">Екатеринбург, 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid63/stat">Иваново, январь 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid62/stat">Тюмень, декабрь 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid61/stat">Иркутск, зима 2017-18</a></li>
<li><a href="https://old.riichimahjong.org/eid60/stat">Тюмень, декабрь 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid59/stat">Новосибирск, январь 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid58/stat">Киров, январь 2018</a></li>
<li><a href="https://old.riichimahjong.org/eid57/stat">VI Russian Riichi Championship</a></li>
<li><a href="https://old.riichimahjong.org/eid56/stat">Архангельск, зимний сезон</a></li>
<li><a href="https://old.riichimahjong.org/eid55/stat">Архангельск, ноябрь 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid54/stat">Niichi club rating</a></li>
<li><a href="https://old.riichimahjong.org/eid53/stat">Aki Shanten 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid50/stat">Чемпионат Москвы</a></li>
<li><a href="https://old.riichimahjong.org/eid49/stat">Киров, осень 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid48/stat">Северный кубок 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid47/stat">Осенний турнир 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid46/stat">Сейхоку онлайн</a></li>
<li><a href="https://old.riichimahjong.org/eid45/stat">Иркутск. Осень 2017 </a></li>
<li><a href="https://old.riichimahjong.org/eid44/stat">Сейхоку, осень 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid43/stat">Кубок Сибири 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid42/stat">Чемпионат Иваново</a></li>
<li><a href="https://old.riichimahjong.org/eid41/stat">Архангельск</a></li>
<li><a href="https://old.riichimahjong.org/eid40/stat">Турнир, Екатеринбург</a></li>
<li><a href="https://old.riichimahjong.org/eid39/stat">Ханты-Мансийск</a></li>
<li><a href="https://old.riichimahjong.org/eid38/stat">Турнир, Киров 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid37/stat">Турнир, Киров 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid36/stat">Турнир, Киров 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid35/stat">Киров</a></li>
<li><a href="https://old.riichimahjong.org/eid34/stat">Уфа</a></li>
<li><a href="https://old.riichimahjong.org/eid33/stat">Иркутск. Летний сезон 2017 </a></li>
<li><a href="https://old.riichimahjong.org/eid32/stat">TMT</a></li>
<li><a href="https://old.riichimahjong.org/eid31/stat">Пантеон-риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid30/stat">Пантеон-риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid29/stat">Пантеон-риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid28/stat">Пантеон-риичи</a></li>
<li><a href="https://old.riichimahjong.org/eid27/stat">Архангельск</a></li>
<li><a href="https://old.riichimahjong.org/eid25/stat">Екатеринбург</a></li>
<li><a href="https://old.riichimahjong.org/eid24/stat">Турнир</a></li>
<li><a href="https://old.riichimahjong.org/eid23/stat">Тюмень</a></li>
<li><a href="https://old.riichimahjong.org/eid22/stat">Пермь</a></li>
<li><a href="https://old.riichimahjong.org/eid21/stat">Иваново</a></li>
<li><a href="https://old.riichimahjong.org/eid19/stat">Екатеринбург</a></li>
<li><a href="https://old.riichimahjong.org/eid18/stat">Сейхоку</a></li>
<li><a href="https://old.riichimahjong.org/eid17/stat">Архангельск зима-весна 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid15/stat">Фуритен</a></li>
<li><a href="https://old.riichimahjong.org/eid14/stat">Тесудзи, JPML A</a></li>
<li><a href="https://old.riichimahjong.org/eid11/stat">Ice Cup 2017</a></li>
<li><a href="https://old.riichimahjong.org/eid6/stat">Осень 2016</a></li>
<li><a href="https://old.riichimahjong.org/eid4/stat">Быстрый сброс-2017</a></li>
</ul>

