@font-face {
  font-family: IBM Plex Sans;
  src: url(/IBMPlexSansKR-Regular.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+AC00-D7A3,
    U+3130-318F U+1100-11FF;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url(/IBMPlexSansKR-Bold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range:
    U+AC00-D7A3,
    U+3130-318F U+1100-11FF;
}
