@font-face {
  font-family: IBM Plex Sans;
  src: url(/IBMPlexSansKR-Regular.woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url(/IBMPlexSansKR-Bold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
}
