.bottomPanel {
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 55px;
}

.panelMain {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  background-color: var(--panels-bg);
  padding: 10px 10px 40px;
}
