.top-panel {
  margin: 24px 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.top-panel--between {
  justify-content: space-between;
}

.top-panel__search {
  position: relative;
  flex: 1 1 auto;
  margin-left: 18px;
  height: 24px;
}

.top-panel__search input {
  width: calc(100% - 24px - 4px);
  font-size: var(--font-size-small-2);
  padding: 2px 24px 2px 4px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--color-secondary-4);
  outline: none;
  color: var(--color-secondary-1);
}

.top-panel__search input::placeholder {
  color: var(--color-secondary-4);
}

.top-panel__search svg {
  position: absolute;
  width: 12px;
  height: 12px;
  right: -4px;
  bottom: -4px;
  padding: 12px;
}
