{{#rules}}{{#name}}
    <div class="row rule-row">
        <div class="col-6">{{description}}</div>
        <div class="col-6">
            <input type="text" class="form-control" readonly value="{{value}}">
        </div>
    </div>
{{/name}}{{/rules}}
