<div class="row">
    <div class="col-12">
        <h3>{{_t 'Reset the timer'}}</h3>
        {{_t 'Pressing this button will reset the timer to its initial value. Be careful: you should not need this usually.'}}
        <br><br>
        {{#form action='/tourn/startTimer/' method='post'}}
            <input type="button" class="btn btn-danger form-control"
                   onclick="return window.confirm('{{_t 'Really reset the timer?'}}') && disableTemporarily(this);"
                   value="{{_t 'Reset the timer'}}">
        {{/form}}
    </div>
</div>
<hr />
{{> partials/TournamentHideResults }}
{{> partials/TournamentTablesState }}
