<div class="container">
    {{^isPrescripted}}
    <div class="row">
        <div class="col-12">
                <h3>{{_t 'Ready to generate seating'}}</h3>
                {{_t 'Select seating mode and press the appropriate button.'}}
                <hr/>
        </div>
    </div>
    {{/isPrescripted}}
    {{> partials/TournamentHideResults }}
    {{#isPrescripted}}
        {{> partials/TournamentControlsStageReadyPrescripted }}
    {{/isPrescripted}}
    {{^isPrescripted}}
        {{> partials/TournamentControlsStageReadyNotPrescripted }}
    {{/isPrescripted}}
</div>
