<h3>{{_t 'Hide rating table'}}</h3>
<p>{{_t 'Hiding rating table for all players may be useful to keep everybody intrigued at the end of tournament'}}</p>

{{#form action='/tourn/toggleHideResults/' method='post'}}
    <input type="submit"
           class="btn btn-large btn-{{#hideResults}}success{{/hideResults}}{{^hideResults}}warning{{/hideResults}} actionButton"
           value="{{#hideResults}}{{_t 'Rating table is hidden. Show'}}{{/hideResults}}
               {{^hideResults}}{{_t 'Rating table is visible. Hide'}}{{/hideResults}}"
    />
{{/form}}