parameters:
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  scanDirectories:
    - vendor/fguillot/json-rpc
    - ../Common
  level: 8
  paths:
    - src
    - www
    - config
