.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
}

.grid-container--gap-6 {
  gap: 6px;
}

.grid-container__item--column-start-1 {
  grid-column-start: 1;
}
.grid-container__item--column-start-2 {
  grid-column-start: 2;
}
.grid-container__item--column-start-3 {
  grid-column-start: 3;
}
.grid-container__item--column-start-4 {
  grid-column-start: 4;
}
.grid-container__item--column-start-5 {
  grid-column-start: 5;
}
.grid-container__item--column-start-6 {
  grid-column-start: 6;
}
.grid-container__item--column-start-7 {
  grid-column-start: 7;
}
.grid-container__item--column-start-8 {
  grid-column-start: 8;
}
.grid-container__item--column-start-9 {
  grid-column-start: 9;
}
.grid-container__item--column-start-10 {
  grid-column-start: 10;
}

.grid-container__item--row-start-1 {
  grid-row-start: 1;
}
.grid-container__item--row-start-2 {
  grid-row-start: 2;
}
.grid-container__item--row-start-3 {
  grid-row-start: 3;
}
.grid-container__item--row-start-4 {
  grid-row-start: 4;
}
.grid-container__item--row-start-5 {
  grid-row-start: 5;
}
.grid-container__item--row-start-6 {
  grid-row-start: 6;
}
.grid-container__item--row-start-7 {
  grid-row-start: 7;
}
.grid-container__item--row-start-8 {
  grid-row-start: 8;
}
.grid-container__item--row-start-9 {
  grid-row-start: 9;
}
.grid-container__item--row-start-10 {
  grid-row-start: 10;
}

.grid-container__item--column-end--1 {
  grid-column-end: -1;
}
.grid-container__item--column-end-1 {
  grid-column-end: 1;
}
.grid-container__item--column-end-2 {
  grid-column-end: 2;
}
.grid-container__item--column-end-3 {
  grid-column-end: 3;
}
.grid-container__item--column-end-4 {
  grid-column-end: 4;
}
.grid-container__item--column-end-5 {
  grid-column-end: 5;
}
.grid-container__item--column-end-6 {
  grid-column-end: 6;
}
.grid-container__item--column-end-7 {
  grid-column-end: 7;
}
.grid-container__item--column-end-8 {
  grid-column-end: 8;
}
.grid-container__item--column-end-9 {
  grid-column-end: 9;
}
.grid-container__item--column-end-10 {
  grid-column-end: 10;
}

.grid-container__item--row-end--1 {
  grid-row-end: -1;
}
.grid-container__item--row-end-1 {
  grid-row-end: 1;
}
.grid-container__item--row-end-2 {
  grid-row-end: 2;
}
.grid-container__item--row-end-3 {
  grid-row-end: 3;
}
.grid-container__item--row-end-4 {
  grid-row-end: 4;
}
.grid-container__item--row-end-5 {
  grid-row-end: 5;
}
.grid-container__item--row-end-6 {
  grid-row-end: 6;
}
.grid-container__item--row-end-7 {
  grid-row-end: 7;
}
.grid-container__item--row-end-8 {
  grid-row-end: 8;
}
.grid-container__item--row-end-9 {
  grid-row-end: 9;
}
.grid-container__item--row-end-10 {
  grid-row-end: 10;
}
