<phpunit bootstrap="./tests/bootstrap.php" stopOnError="true" stopOnFailure="true" colors="true">
    <testsuites>
        <testsuite name="FreyTest">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="1359" />
        <const name="WEB_SERVER_DOCROOT" value="./www" />
    </php>
</phpunit>