.player__rotated-container {
  position: fixed;
}

.player__name {
  font-size: var(--font-size-primary);
  height: var(--line-height-primary);
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player__inline-wind {
  margin-right: 8px;
}

.player__status-text:not(.player__status--vertical) {
  padding: 6px 24px;
  margin: -6px -24px;
}

.player__status-text--vertical {
  padding: 24px 6px;
  margin: -24px -6px;
}

.player__status-text--variant-active {
  color: var(--color-primary-active);
}
.player__status-text--variant-positive {
  color: var(--color-success);
}
.player__status-text--variant-negative {
  color: var(--color-danger);
}

.player__status-container > div:nth-child(odd) {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
}

.player__status-text {
  flex-grow: 0;
  flex-basis: 0;
  flex-shrink: 1;
}

.player__wind {
  text-align: center;
  font-size: var(--font-size-header);
  width: var(--line-height-header);
  height: var(--line-height-header);
}

.player__wind--rotated-90 {
  transform: rotate(90deg);
}

.player__wind--rotated-180 {
  transform: rotate(180deg)
}

.player__wind--rotated-270 {
  transform: rotate(270deg);
}

.player__riichi-button {
  padding: 10px;
  margin: -4px;
}

.player__riichi-button:not(.player__riichi-button--rotated) {
  width: 104px;
  height: 16px;
}

.player__riichi-button--rotated {
  width: 16px;
  height: 104px;
}

.player__riichi-button svg {
  display: block;
}

.player__riichi-button--rotated svg {
  transform: rotate(90deg) translate(45px, 45px);
  width: 104px;
  height: 16px;
}

.player__riichi-button:not(.player__riichi-button--rotated) svg {
  width: 104px;
  height: 16px;
}

.player__riichi-button--empty {
  color: var(--color-secondary-4);
}

.player__riichi-button:not(.player__riichi-button--empty) {
  --riichi-circle-color: var(--color-danger);
}

.player__riichi-button:active {
  --riichi-fill-color: var(--color-secondary-6);
}

.player__penalty {
  border-radius: 2px;
  font-size: var(--font-size-small-1);
  background-color: var(--color-danger);
  color: var(--secondary-text-color);
  padding: 2px 6px;
}

.player__inline-riichi svg {
  display: block;
  width: 53px;
  height: 8.5px;
  color: var(--primary-text-color);
  --riichi-circle-color: var(--color-danger);
}
