.player__inline-wind {
  margin-right: 8px;
}

.player__rotated-container {
  position: relative;
  height: 50vh;
}

.player__rotated-container--size-medium {
  padding: 0 6px;
  margin: 0 -6px;
  width: var(--line-height-primary);
}
.player__rotated-container--size-large {
  width: var(--line-height-header);
}

.player__text {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50vh;
}

.player__text--size-medium {
  padding: 6px 0;
  margin: -6px 0;
  font-size: var(--font-size-primary);
  height: var(--line-height-primary);
}
.player__text--size-large {
  font-size: var(--font-size-header);
  height: var(--line-height-header);
}

.player__text--rotated-90,
.player__text--rotated-270 {
  position: absolute;
}

.player__text--rotated-90.player__text--size-medium {
  transform: rotate(90deg) translate(calc((50vh - var(--line-height-primary)) / 2), calc((50vh - var(--line-height-primary)) / 2));
}
.player__text--rotated-90.player__text--size-large{
  transform: rotate(90deg) translate(calc((50vh - var(--line-height-header)) / 2), calc((50vh - var(--line-height-header)) / 2));
}
.player__text--rotated-270.player__text--size-medium {
  transform: rotate(270deg) translate(calc((50vh - var(--line-height-primary)) / -2), calc((50vh - var(--line-height-primary)) / -2));
}
.player__text--rotated-270.player__text--size-large {
  transform: rotate(270deg) translate(calc((50vh - var(--line-height-header)) / -2), calc((50vh - var(--line-height-header)) / -2));
}

.player__text--rotated-180 {
  transform: rotate(180deg);
}

.player__score--variant-active {
  color: var(--color-primary-active);
}
.player__score--variant-positive {
  color: var(--color-success);
}
.player__score--variant-negative {
  color: var(--color-danger);
}

