.player__inline-wind {
  margin-right: 8px;
}

.player__text {
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player__text--size-medium {
  padding: 6px 0;
  margin: -6px 0;
  font-size: var(--font-size-primary);
  height: var(--line-height-primary);
}
.player__text--size-large {
  font-size: var(--font-size-header);
  height: var(--line-height-header);
}

.player__text:not(.player__text--rotated-90):not(.player__text--rotated-270) {
  width: 100%;
}

.player__rotated-container {
  position: relative;
  height: var(--player-text-width);
}

@media(max-height: 680px) {
  .player__rotated-container:not(.player__rotated-container--max-height) {
    --player-text-width: 240px;
  }
  .player__rotated-container--max-height  {
    --player-text-width: 412px;
  }
}

@media(min-height: 680px) {
  .player__rotated-container:not(.player__rotated-container--max-height) {
    --player-text-width: 320px;
  }
  .player__rotated-container--max-height  {
    --player-text-width: 80vh;
  }
}

.player__rotated-container--size-medium {
  padding: 0 6px;
  margin: 0 -6px;
  width: var(--line-height-primary);
}
.player__rotated-container--size-large {
  width: var(--line-height-header);
}

.player__text--rotated-90,
.player__text--rotated-270 {
  position: absolute;
  width: var(--player-text-width);
}

.player__text--rotated-90.player__text--size-medium {
  transform: rotate(90deg) translate(calc((var(--player-text-width) - var(--line-height-primary)) / 2), calc((var(--player-text-width) - var(--line-height-primary)) / 2));
}
.player__text--rotated-90.player__text--size-large{
  transform: rotate(90deg) translate(calc((var(--player-text-width) - var(--line-height-header)) / 2), calc((var(--player-text-width) - var(--line-height-header)) / 2));
}
.player__text--rotated-270.player__text--size-medium {
  transform: rotate(270deg) translate(calc((var(--player-text-width) - var(--line-height-primary)) / -2), calc((var(--player-text-width) - var(--line-height-primary)) / -2));
}
.player__text--rotated-270.player__text--size-large {
  transform: rotate(270deg) translate(calc((var(--player-text-width) - var(--line-height-header)) / -2), calc((var(--player-text-width) - var(--line-height-header)) / -2));
}

.player__text--rotated-180 {
  transform: rotate(180deg);
}

.player__score--variant-active {
  color: var(--color-primary-active);
}
.player__score--variant-positive {
  color: var(--color-success);
}
.player__score--variant-negative {
  color: var(--color-danger);
}

.player__riichi-button {
  padding: 10px;
}

.player__riichi-button--rotated {
  width: 16px;
  height: 104px;
}

.player__riichi-button--rotated svg {
  transform: rotate(90deg) translate(45px, 45px);
  width: 104px;
  height: 16px;
}

.player__riichi-button:not(.player__riichi-button--rotated) svg {
  width: 104px;
  height: 16px;
}

.player__riichi-button--empty {
  color: var(--color-secondary-4);
}

.player__riichi-button:not(.player__riichi-button--empty) {
  --riichi-circle-color: var(--color-danger);
}

.player__riichi-button:active {
  --riichi-fill-color: var(--color-secondary-6);
}
