.modalDialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalDialog__wrapper {
  max-width: 80%;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 4px 4px 18px 0 var(--shade-color);
  color: var(--primary-text-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalDialog__actions {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
