.page-enter-credentials {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-enter-credentials__title {
  flex: 0 0 auto;
  margin: 48px 0 36px 0;
  font-size: var(--font-size-header);
  text-align: center;
}

.page-enter-credentials__form {
  /*display: flex;*/
}

.page-enter-credentials__form label {
  font-size: 10px;
  margin: 0 32px;
  display: block;
}

.page-enter-credentials__input {
  outline: none;
  margin: 0 32px;
  width: calc(100% - 64px);
  background: transparent;
  border: none;
  padding: 8px;
  font-size: 20px;
  border-bottom: 2px solid var(--color-secondary-5);
}

.page-enter-credentials__input:focus {
  background: transparent;
  border-bottom: 2px solid var(--color-primary-active);
}

.page-enter-credentials__input-group {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.page-enter-credentials__placeholder {
  font-size: var(--font-size-small-2);
  color: var(--color-secondary-4);
}

.page-enter-credentials__button-container {
  flex: 1 1 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 24px;
}

.page-enter-credentials__button-container button {
  font-size: var(--font-size-primary);
  outline: none;
}

.page-enter-credentials__button-container button:focus {
  border: 2px solid var(--color-primary-active);
}
