.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal__bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  background-color: var(--color-secondary-1);
  opacity: 0.5;
}

.modal__content {
  position: absolute;
  width: 100%;
  bottom: 48px;

  background: var(--bg-color);
  border-radius: 24px 24px 0px 0px;
}

.select-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-modal__pointer {
  width: 35px;
  height: 4px;
  margin: 8px 0;
  background-color: var(--color-secondary-4);
  border-radius: 2px;
}

.select-modal__items {
  width: 100%;
  max-height: 376px;
  overflow: scroll;
}

.select-modal__item {
  text-align: center;
  padding: 12px 0;
}

.select-modal__item:active {
  background-color: var(--color-secondary-6);
}

