.tab-panel {
  margin: 0 12px;
}

.tab-panel:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary-4);
}

.tab-panel__items {
  display: flex;
  justify-content: space-around;
}

.tab-panel__item--active {
  position: relative;
}

.tab-panel__item--active:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  padding: 0 16px;
  margin-left: -16px;
  height: 3px;
  background-color: var(--color-primary);
}
