.game-info__round {
  font-size: var(--font-size-header);
}

.game-info__table-number-caption {
  font-size: var(--font-size-primary);
}

.game-info__table-number {
  font-size: var(--font-size-header);
}

.game-info__tenbou {
  padding: 2px;
}

.game-info__tenbou-svg {
  width: 31px;
  height: 24px;
}

.game-info__rotate-controls {
  height: 64px
}

.game-info__rotate-button {
  all: unset;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.game-info__rotate-button svg {
  width: 24px;
  height: 24px;
}
