.game-info__round {
  font-size: var(--font-size-header);
}

.game-info__table-number-caption {
  font-size: var(--font-size-primary);
}

.game-info__table-number {
  font-size: var(--font-size-header);
}

.game-info__tenbou {
  padding: 2px;
}

.game-info__tenbou-svg {
  width: 31px;
  height: 24px;
}

.game-info__rotate-controls {
  height: 64px
}

.game-info__rotate-button {
  all: unset;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.game-info__rotate-button svg {
  width: 24px;
  height: 24px;
}

.game-info__timer {
  padding: 12px 0;
  font-size: var(--font-size-secondary);
}

.game-info__deals-left {
  padding: 12px 0;
  font-size: var(--font-size-secondary);
  color: var(--color-danger);
}

.game-info__start-in-splitter {
  width: 100px;
  height: 2px;
  border-radius: 1px;
  margin: 16px 0;
  background-color: var(--color-secondary-3);
}

.game-info__start-in-timer {
  font-size: var(--font-size-secondary);
}
