/*@media(max-width: 800px) {
}

@media(max-width: 370px) {
}*/

@font-face {
  font-family: IBM Plex Sans;
  src: url(../fonts/Ibmplexsans.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url(../fonts/Ibmplexsanssemibold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Noto Sans Wind;
  src: url(../fonts/NotoSansWind-Regular.woff2);
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: IBM Plex Sans, Noto Sans Wind, Sans, serif;
  font-size: var(--font-size-primary);
  user-select: none;
}

body.betaLabel:after {
  content: 'beta';
  position: fixed;
  width: 80px;
  height: 25px;
  background: #7edf8a;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #131111;
  line-height: 27px;
  transform: rotate(-45deg);
  z-index: 1100;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

.App {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.newyear {
  background-image: url(../img/snow.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newyear .page-home {
  background-image: url(../img/ny.gif);
  background-size: auto 16px;
  background-repeat: repeat-x;
}

.svg-button {
  width: 32px;
  height: 32px;
}

.svg-button svg {
  width: 100%;
  height: 100%;
}

.svg-button--disabled {
  color: var(--color-secondary-2);
}

.svg-button:not(.svg-button--disabled):active {
  color: var(--color-secondary-1);
}

.svg-button--small {
  width: 28px;
  height: 28px;
}

.svg-button--xsmall {
  width: 24px;
  height: 24px;
}

.radio-btn {
  border: 1px solid var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.radio-btn--small {
  width: 64px;
  height: 32px;
}

.radio-btn--active {
  border: none;
  background-color: var(--color-primary);
  color: var(--secondary-text-color);
}

.radio-btn:not(.radio-btn--active):active {
  background-color: var(--color-secondary-6);
}

.flat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-secondary-4);
  border-radius: 8px;
  box-sizing: border-box;
}

.flat-btn:not(.flat-btn--disabled):active {
  background-color: var(--color-secondary-6);
}

.flat-btn--small {
  width: 52px;
  height: 52px;
}

.flat-btn--medium {
  width: 72px;
  height: 52px;
}

.flat-btn--large {
  width: 112px;
  height: 52px;
}

.flat-btn--v-large {
  width: 52px;
  height: 112px;
}

.flat-btn--success {
  border-color: var(--color-success);
  color: var(--color-success);
}

.flat-btn--danger {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.flat-btn--pressed {
  border-color: var(--color-secondary-1);
  color: var(--color-secondary-1);
}

.flat-btn--disabled {
  border-color: var(--color-secondary-5);
  color: var(--color-secondary-5);
}

.flat-btn svg {
  width: 36px;
  height: 36px;
}

.flat-btn__caption {
  text-align: center;
  font-size: var(--font-size-small-2);
}

.link {
  text-decoration: underline;
  color: var(--color-primary);
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container__top {
}

.flex-container__content {
  flex-grow: 1;
  height: 100%;
}

.flex-container__bottom {
  flex: 0 0 auto;
}
