/*@media(max-width: 800px) {
}

@media(max-width: 370px) {
}*/

@font-face {
  font-family: IBM Plex Sans;
  src: url(51419eac038e6d0b7aab.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IBM Plex Sans;
  src: url(dd893b474dfc6cc2eaf2.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Noto Sans Wind;
  src: url(1454376fe62b8a2a3f38.woff2);
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: IBM Plex Sans, Noto Sans Wind, Sans, serif;
  font-size: var(--font-size-primary);
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

.App {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.newyear {
  background-image: url(f78450d6d1a99d85f403.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.newyear .page-home {
  background-image: url(1448dced9ad5b150830d.gif);
  background-size: auto 16px;
  background-repeat: repeat-x;
}

.svg-button {
  width: 32px;
  height: 32px;
}

.svg-button svg {
  width: 100%;
  height: 100%;
}

.svg-button--disabled {
  color: var(--color-secondary-2);
}

.svg-button:not(.svg-button--disabled):active {
  color: var(--color-secondary-1);
}

.svg-button--small {
  width: 28px;
  height: 28px;
}

.svg-button--xsmall {
  width: 24px;
  height: 24px;
}

.radio-btn {
  border: 1px solid var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.radio-btn--small {
  width: 64px;
  height: 32px;
}

.radio-btn--active {
  border: none;
  background-color: var(--color-primary);
  color: var(--secondary-text-color);
}

.radio-btn:not(.radio-btn--active):active {
  background-color: var(--color-secondary-6);
}

.flat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-secondary-4);
  border-radius: 8px;
  box-sizing: border-box;
}

.flat-btn:not(.flat-btn--disabled):active {
  background-color: var(--color-secondary-6);
}

.flat-btn--small {
  width: 52px;
  height: 52px;
}

.flat-btn--medium {
  width: 72px;
  height: 52px;
}

.flat-btn--large {
  width: 112px;
  height: 52px;
}

.flat-btn--v-large {
  width: 52px;
  height: 112px;
}

.flat-btn--success {
  border-color: var(--color-success);
  color: var(--color-success);
}

.flat-btn--danger {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.flat-btn--pressed {
  border-color: var(--color-secondary-1);
  color: var(--color-secondary-1);
}

.flat-btn--disabled {
  border-color: var(--color-secondary-5);
  color: var(--color-secondary-5);
}

.flat-btn svg {
  width: 36px;
  height: 36px;
}

.flat-btn__caption {
  text-align: center;
  font-size: var(--font-size-small-2);
}

.link {
  text-decoration: underline;
  color: var(--color-primary);
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container__top {
}

.flex-container__content {
  flex-grow: 1;
  height: 100%;
}

.flex-container__bottom {
  flex: 0 0 auto;
}

.theme-day {
  --bg-color: #f4f5f7;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

  --color-primary: #1565c0;
  --color-primary-active: #1979e5; /*HSB: B from 75 to 90*/
  --color-primary-light: #bdd4ed; /*fade 0.28 from color-primary*/
  --color-primary-light-active: #e3edf7; /*fade 0.12 from color-primary*/

  --color-secondary-1: #47526c; /*HSL: L from 60 (color-secondary-2) to 35*/
  --color-secondary-2: #8491ae;
  --color-secondary-3: #b8c0d1; /*fade 0.57 from color-secondary-2*/
  --color-secondary-4: #c8cedb; /*fade 0.45 from color-secondary-2*/
  --color-secondary-5: #d4d9e3; /*fade 0.35 from color-secondary-2*/
  --color-secondary-6: #e0e4eb; /*HSL: L from 60 to 90*/

  --color-success: #0da678;
  --color-danger: #d32b2b;
  --color-link: #1979e5;
}

.theme-night {
  --bg-color: #282c34;

  --primary-text-color: #e6e6e6;
  --secondary-text-color: #ffffff;

  --color-primary: #1565c0;
  --color-primary-active: #1979e5; /*HSB: B from 75 to 90*/
  --color-primary-light: #606a76; /*HSL: S from 80 to 10*/
  --color-primary-light-active: #4c535d; /*HSL: S from 80 to 10, L from 42 to 33*/

  --color-secondary-1: #afb4be; /*fade 0.4 from color-secondary-3*/
  --color-secondary-2: #737c8d; /*fade 0.7 from color-secondary-3*/
  --color-secondary-3: #37445c;
  --color-secondary-4: #737c8d; /*fade 0.7 from color-secondary-3*/
  --color-secondary-5: #37445c;
  --color-secondary-6: #262f40; /*HSL: L from 29 to 20*/
  --color-success: #43d8ab;
  --color-danger: #ff6969;
  --color-link: #1979e5;
}

:root {
  --font-size-primary: 18px;
  --font-size-secondary: 24px;
  --font-size-small-1: 14px;
  --font-size-small-2: 16px;
  --font-size-header: 32px;
}

.page-home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-home__title {
  font-size: 32px;
  text-align: center;
  margin-top: 24px;
  word-break: break-word;
  flex: 1 1 auto;
}

.page-home__bottom {
  flex: 0 0 auto;
}

.page-home__button--active {
  background-color: var(--color-primary);
  color: var(--secondary-text-color);
}

.page-home__button--active:active {
  background-color: var(--color-primary-active);
}

.page-home__button:not(.page-home__button--active):active {
  background-color: var(--color-secondary-6);
}

.page-home__button--bordered {
  padding: 0 12px;
}

.page-home__button--bordered:active {
  padding: 0;
}

.page-home__button--bordered:active:before,
.page-home__button--bordered:active:after {
  width: 100%;
}

.page-home__button--bordered:before {
  width: calc(100% - 24px);
  height: 2px;
  background-color: var(--color-secondary-4);
  content: '';
  display: block;
  position: absolute;
}

.page-home__button--bordered:not(.page-home__button--bordered:last-child):after {
  width: calc(100% - 24px);
  height: 2px;
  background-color: var(--color-secondary-4);
  content: '';
  display: block;
  position: absolute;
}

.page-home__button-content {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-home__button .icon {
  position: absolute;
  width: 28px;
  height: 28px;
}

.page-home__button .icon--right {
  right: 18px;
}
.page-home__button .icon:not(.icon--right) {
  left: 18px;
}

.inline-preloader {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 120px;
  height: 16px;
  border: 1px solid var(--primary-text-color);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-preloader:after {
  display: block;
  content: ' ';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-danger);
  animation: cssload-motion 1.45s linear infinite;
}

@keyframes cssload-motion {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translate(calc(-120px / 2 + 8px + 5px));
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translate(calc(120px / 2 - 8px - 5px));
  }
  100% {
    transform: translateX(0px);
  }
}

.page-setting {
  min-height: 580px;
}

.page-setting__name {
  margin: 24px 16px;
  text-align: center;
  font-size: var(--font-size-secondary);
  word-break: break-word;
}

.page-setting__section {
  margin: 44px 24px;
}

.page-setting__section-content {
  margin-top: 16px;
  display: flex;
}

.page-setting__section-content button {
  font-size: var(--font-size-primary);
}

.page-setting__section-content > div {
  margin-right: 24px;
}

.theme {
  width: 68px;
}

.theme--selected .theme__visual-inner {
  border: 2px solid var(--color-primary);
}

.theme--selected .theme__name {
  font-style: normal;
  font-weight: 600;
  color: var(--color-primary);
}

.theme__visual {
  height: 46px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme__name {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
}

.theme__visual-inner {
  border: 1px solid var(--primary-text-color);
  border-radius: 8px;
  padding: 9px 8px;
}

.theme__secondary-color {
  height: 8px;
  width: 48px;
  border-radius: 2px;
}

.theme__text-color,
.theme__primary-color {
  height: 4px;
  width: 24px;
  margin-top: 4px;
  border-radius: 2px;
}

.switch-setting {
  display: flex;
}

.switch-setting__description {
  margin-left: 16px;
}

.switch-setting__info {
  margin-top: 12px;
  color: var(--color-secondary-2);
  font-size: var(--font-size-small-1);
}

.page-setting__bottom {
  margin: 16px 24px;
}

.switch {
  flex-shrink: 0;
  position: relative;
  width: 48px;
  height: 24px;
  user-select: none;
}

.switch__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: var(--color-secondary-4);
}

.switch__box--on {
  background-color: var(--color-primary);
}

.switch__button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 26px;
  left: 2px;
  background-color: var(--secondary-text-color);
  border-radius: 9px;
  transition: all 100ms ease;
}

.switch__button--on {
  right: 2px;
  left: 26px;
}

.top-panel {
  margin: 24px 16px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.top-panel--between {
  justify-content: space-between;
}

.top-panel__search {
  position: relative;
  flex: 1 1 auto;
  margin-left: 18px;
  height: 24px;
}

.top-panel__search input {
  width: calc(100% - 24px - 4px);
  font-size: var(--font-size-small-2);
  padding: 2px 24px 2px 4px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--color-secondary-4);
  outline: none;
  color: var(--color-secondary-1);
}

.top-panel__search input::placeholder {
  color: var(--color-secondary-4);
}

.top-panel__search svg {
  position: absolute;
  width: 16px;
  height: 16px;
  right: -8px;
  bottom: -8px;
  padding: 12px;
}

.page-new-game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-new-game__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.page-new-game__players {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-height: 352px;
  justify-content: center;
}

.page-new-game__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 36px;
}

.page-new-game__buttons .flat-btn {
  margin-top: 36px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.player-dropdown {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.player-dropdown__player {
  width: 276px;
  margin-bottom: 32px;
  margin-left: 12px;
}

.player-dropdown__player:after {
  display: block;
  content: '';
  border-bottom: 2px solid var(--color-secondary-4);
  width: auto;
}

.player-dropdown__player-name {
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-dropdown__placeholder {
  padding: 0 4px;
  color: var(--color-secondary-4);
}

.player-dropdown__placeholder:active {
  color: var(--color-secondary-5);
}

.page-search-player {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-search-player__content {
  flex-grow: 1;
  overflow-y: scroll;
}

.page-search-player__name {
  margin: 0px 16px 20px 16px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-search-player__name:active {
  background-color: var(--color-secondary-6);
}

.page-table__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.table-info {
}

.table-info__rotator_ccw,
.table-info__rotator_cw {
  display: inline-block;
  padding: 20px;
}

.table-info__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-info__round {
  font-size: var(--font-size-header);
}

.table-info__table-number {
  font-size: var(--font-size-header);
  margin-top: 2px;
}

.table-info__tenbou {
  margin-top: 4px;
  display: flex;
}

.table-info__tenbou-count {
  margin-left: 8px;
}

.table-info__tenbou .svg-item {
  width: 32px;
  height: 24px;
}

.table-info__timer {
  margin-top: 8px;
  font-size: 24px;
}

.table-info__games-left {
  margin-top: 12px;
  text-align: center;
}

.table-info__games-left-count {
  font-size: 24px;
  color: var(--color-danger);
}

.table-info__games-left-caption {
  font-size: 14px;
}

.table-info__autostart-hint {
  text-align: center;
}

.table-info__autostart-separator {
  color: #555;
  background-color: #555;
  height: 1px;
  width: 100%;
}

.player__wind {
  font-size: var(--font-size-header);
}

.player__score {
  font-size: var(--font-size-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__score p {
  position: relative;
}

.player__inline-wind {
  margin-right: 8px;
}

.player__penalty {
  margin-left: 8px;
  padding: 2px 4px;
  font-size: var(--font-size-small-1);
  background-color: var(--color-danger);
  color: var(--secondary-text-color);
}

.player--top {
  margin-top: 16px;
  margin-bottom: 4px;
}

.player--top .player__wind-container,
.player--top .player__button-container,
.player--top .player__riichi-button {
  margin-top: 12px;
}

.player--top .player__score-container {
  margin-top: 6px;
}

.player--top .player__name,
.player--top .player__wind,
.player--top .player__score {
  text-align: center;
}

.player--bottom {
  margin-top: 4px;
  margin-bottom: 16px;
}

.player--bottom .player__wind-container,
.player--bottom .player__button-container,
.player--bottom .player__riichi-button {
  margin-bottom: 12px;
}

.player--bottom .player__score-container {
  margin-bottom: 6px;
}

.player--bottom .player__name,
.player--bottom .player__wind,
.player--bottom .player__score {
  text-align: center;
}

.player--left {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.player--left .player__wind-container,
.player--left .player__button-container,
.player--left .player__riichi-button {
  margin-left: 12px;
}

.player--left .player__score-container {
  margin-left: 6px;
}

.player--right {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.player--right .player__wind-container,
.player--right .player__button-container,
.player--right .player__riichi-button {
  margin-right: 12px;
}

.player--right .player__score-container {
  margin-right: 6px;
}

.player--rotated.player--left,
.player--rotated.player--right {
  height: 100%;
}

.player--rotated.player--left .player__name,
.player--rotated.player--left .player__wind,
.player--rotated.player--left .player__score,
.player--rotated.player--right .player__name,
.player--rotated.player--right .player__wind,
.player--rotated.player--right .player__score {
  position: absolute;
  transform-origin: 0 0;
  text-align: center;
}

.player--rotated.player--left .player__name-container,
.player--rotated.player--right .player__name-container {
  height: 100%;
  width: 24px;
  overflow: hidden;
  position: relative;
}

.player--rotated.player--left .player__name,
.player--rotated.player--right .player__name {
  height: 24px;
}

.player--rotated.player--left .player__name {
  left: 24px;
  transform: rotate(90deg);
}

.player--rotated.player--right .player__name {
  bottom: -24px;
  left: 0;
  transform: rotate(270deg);
}

.player--rotated.player--left .player__wind-container,
.player--rotated.player--right .player__wind-container {
  height: 32px;
  width: 45px;
  overflow: hidden;
  position: relative;
}

.player--rotated.player--left .player__wind,
.player--rotated.player--right .player__wind {
  height: 45px;
}

.player--rotated.player--left .player__wind {
  left: 45px;
  transform: rotate(90deg);
}

.player--rotated.player--right .player__wind {
  bottom: -45px;
  left: 0;
  transform: rotate(270deg);
}

.player--rotated.player--left .player__score-container,
.player--rotated.player--right .player__score-container {
  height: 300px;
  width: 23px;
  overflow: hidden;
  position: relative;
}

.player--rotated.player--left .player__score,
.player--rotated.player--right .player__score {
  width: 300px;
}

.player--rotated.player--left .player__score {
  left: 23px;
  transform: rotate(90deg);
}

.player--rotated.player--right .player__score {
  bottom: -23px;
  left: 0;
  transform: rotate(270deg);
}

.player--rotated.player--top .player__wind,
.player--rotated.player--top .player__name,
.player--rotated.player--top .player__score {
  transform: rotate(180deg);
}

.player__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__score--success {
  color: var(--color-success);
}

.player__score--danger {
  color: var(--color-danger);
}

.player__score--active {
  color: var(--color-primary-active);
}

.player__button-container {
  z-index: 1;
}

.player__button-container--horizontal {
  display: flex;
  justify-content: center;
}

.player__button-container--horizontal div:nth-child(2) {
  margin-left: 8px;
}

.player__button-container:not(.player__button-container--horizontal) div:nth-child(2) {
  margin-top: 8px;
}

.player__riichi-button {
  display: flex;
  justify-content: center;
}

.player__riichi-button--rotated {
  width: 17px;
  height: 106px;
  position: relative;
}

.player__riichi-button--rotated svg {
  position: absolute;
  z-index: 0;
  height: 106px;
  width: 106px;
}

.player__riichi-button--rotated svg {
  transform: rotate(90deg);
}

.player__riichi-button:not(.player__riichi-button--rotated) svg {
  width: 106px;
  height: 17px;
}

.player__riichi-button--empty {
  color: var(--color-secondary-4);
}

.player__riichi-button:not(.player__riichi-button--empty) {
  --riichi-circle-color: var(--color-danger);
}

.player__riichi-button:active {
  --riichi-fill-color: var(--color-secondary-6);
}

.player__inline-riichi {
  width: 53px;
  height: 8.5px;
  margin-left: 8px;
  margin-top: 8px;
  position: absolute;

  color: var(--primary-text-color);
  --riichi-circle-color: var(--color-danger);
}

.bottom-panel {
  height: 48px;
  background-color: var(--color-secondary-3);
}

.bottom-panel__inner {
  padding: 6px 34px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-panel__text {
  font-size: var(--font-size-secondary);
}

.bottom-panel .svg-button {
  width: 28px;
  height: 28px;
}

.result-arrows {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-arrows__inner {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.result-arrows__inner svg {
  overflow: visible;
  box-shadow: 0 0 10000px transparent;
}

.result-arrows__inner svg text {
  font-size: var(--font-size-small-1);
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.modal__bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  background-color: var(--color-secondary-1);
  opacity: 0.5;
}

.modal__content {
  position: absolute;
  width: 100%;
  bottom: 48px;

  background: var(--bg-color);
  border-radius: 24px 24px 0px 0px;
}

.select-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-modal__pointer {
  width: 35px;
  height: 4px;
  margin: 8px 0;
  background-color: var(--color-secondary-4);
  border-radius: 2px;
}

.select-modal__items {
  width: 100%;
  max-height: 376px;
  overflow: scroll;
}

.select-modal__item {
  text-align: center;
  padding: 12px 0;
}

.select-modal__item:active {
  background-color: var(--color-secondary-6);
}

.page-select-hand.page-select-hand__player-name {
  font-size: var(--font-size-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.page-select-hand.page-select-hand__top-panel {
  margin: 24px 26px 16px 26px;
}

.select-yaku-panel {
  margin: 8px 0;
  flex-grow: 1;
  height: 100%;
  font-size: var(--font-size-secondary);
  overflow: scroll;
}

.select-yaku-panel__group {
  margin: 0 6px;
  display: flex;
  flex-wrap: wrap;
}

.select-yaku-panel__button {
  flex: 1 0 auto;
  text-align: center;
  padding: 8px 12px;
  margin: 0 2px 4px 2px;
  border: 2px solid var(--color-secondary-4);
  border-radius: 4px;
}

.select-yaku-panel__button--pressed {
  background-color: var(--color-primary-light);
}

.select-yaku-panel__button--disabled {
  background-color: var(--color-secondary-6);
  color: var(--color-secondary-4);
}

.select-yaku-panel__button:not(.select-yaku-panel__button--disabled):active {
  background-color: var(--color-primary-light-active);
}

.select-total-panel {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-secondary);
}

.select-total-panel__top-group {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin: 24px 0 4px 0;
}

.select-total-panel__top-group span {
  margin-left: 10px;
}

.select-total-panel__max {
  flex-grow: 1;
  height: 100%;
}

.select-total-panel__bottom-group {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  margin: 4px 0 20px 0;
}

.select-total-panel__select-group {
  margin: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-total-panel__center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}

.number-select {
  display: flex;
  align-items: center;
  margin-right: -12px;
}

.number-select__minus {
  padding: 8px 8px 8px 12px;
}

.number-select__value {
  padding: 8px 0;
  width: 54px;
  text-align: center;
}

.number-select__plus {
  padding: 8px 12px 8px 8px;
}

.tab-panel {
  margin: 0 12px;
}

.tab-panel:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-secondary-4);
}

.tab-panel__items {
  display: flex;
  justify-content: space-around;
}

.tab-panel__item--active {
  position: relative;
}

.tab-panel__item--active:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  padding: 0 16px;
  margin-left: -16px;
  height: 3px;
  background-color: var(--color-primary);
}

.page-game-result {
  display: flex;
  flex-direction: column;
  /*height: 94%; todo think about it*/
  height: 100%;
  justify-content: center;
}

.page-game-result__buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.page-game-result__buttons .flat-btn--medium:last-child {
  margin-left: 24px;
}

.player-result {
  margin-bottom: 36px;
}

.player-result__name {
  text-align: center;
}

.player-result__score-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.player-result__score,
.player-result__delta {
  width: 124px;
  text-align: center;
}

.player-result__delta--success {
  color: var(--color-success);
}

.player-result__delta--danger {
  color: var(--color-danger);
}

.page-game-result__no-games {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-enter-credentials {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-enter-credentials__title {
  flex: 0 0 auto;
  margin: 48px 0 36px 0;
  font-size: var(--font-size-header);
  text-align: center;
}

.page-enter-credentials__form {
  display: flex;
  flex-direction: column;
}

.page-enter-credentials__form label {
  font-size: 10px;
  margin: 0 32px;
  display: block;
}

.page-enter-credentials__input {
  outline: none;
  margin: 10px 32px;
  background: transparent;
  border: none;
  padding: 8px;
  font-size: 20px;
  border-bottom: 2px solid var(--color-secondary-5);
}

.page-enter-credentials__input:focus {
  background: transparent;
  border-bottom: 2px solid var(--color-primary-active);
}

.page-enter-credentials__input-group {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.page-enter-credentials__placeholder {
  font-size: var(--font-size-small-2);
  color: var(--color-secondary-4);
}

.page-enter-credentials__button-container {
  flex: 1 1 auto;
  margin: 32px;
}

.page-enter-credentials__links-container {
  flex: 1 1 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 24px;
}

.page-enter-credentials__links-container a {
  font-size: var(--font-size-primary);
  outline: none;
  text-align: center;
  border: 2px solid var(--color-secondary-5);
}

.page-enter-credentials__links-container a:focus {
  border: 2px solid var(--color-primary-active);
}

.page-enter-credentials__button-container button {
  font-size: var(--font-size-primary);
  outline: none;
}

.page-enter-credentials__button-container button:focus {
  border: 2px solid var(--color-primary-active);
}

.page-login-error {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-login-error__title {
  flex: 0 0 auto;
  margin-top: 48px;
  font-size: var(--font-size-header);
  text-align: center;
}

.page-login-error__message {
  flex: 1 1 auto;
  margin: 32px 24px;
}

.page-login-error__message ul {
  margin: 12px 0 24px 0;
  color: var(--primary-text-color);
}

.page-login-error__message. li {
  margin-bottom: 12px;
}

.page-login-error__button-container {
  flex: 0 0 auto;
  margin: 16px 24px;
}

.page-log__row-container:nth-child(2n + 1) {
  background-color: var(--color-secondary-5);
}

.page-log__row-container:active {
  background-color: var(--color-secondary-6);
}

.page-log__row {
  display: flex;
  padding: 8px 0;
}

.page-log__cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.page-log__cell:not(.page-log__cell--first) {
  font-size: var(--font-size-small-1);
  width: calc((100% - 60px) / 4);
  padding: 0 2px;
  box-sizing: border-box;
}

.page-log__cell.page-log__cell--first {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-log__delta {
  margin-bottom: 16px;
}

.page-log__delta.page-log__delta--success {
  color: var(--color-success);
}

.page-log__delta.page-log__delta--danger {
  color: var(--color-danger);
}

.page-log__delta,
.page-log__score {
  text-align: center;
}

.page-log__info {
  font-size: var(--font-size-small-1);
  padding: 4px 16px;
}

.page-log__no-results {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

.page-log__names {
  padding-top: 4px;
  border-bottom: 2px solid var(--color-secondary-5);
}

.page-log__rounds {
  overflow: scroll;
  padding-bottom: 4px;
}

.page-donate {
  min-height: 580px;
}

.page-donate__meme,
.page-donate__disclaimer {
  padding: 15px;
  font-size: 12px;
}

.page-donate__button {
  padding: 15px;
}

.page-donate__meme img {
  width: 100%;
}

.page-event-select {
  min-height: 580px;
}

.page-event-select__name {
  margin: 24px 16px;
  text-align: center;
  font-size: var(--font-size-secondary);
  word-break: break-word;
}

.page-event-select__section {
  margin: 44px 24px;
}

.page-event-select__section-content {
  margin-top: 16px;
}

.page-event-select__section-content > div {
  margin: 14px 0;
}

.page-event-select__bottom {
  margin: 16px 24px;
}

.radio-menuitem {
  border: 1px solid var(--primary-text-color);
  display: block;
  padding: 10px;
}

.radio-menuitem--active {
  border: none;
  background-color: var(--color-primary);
  color: var(--secondary-text-color);
}

.radio-menuitem:not(.radio-menuitem--active):active {
  background-color: var(--color-secondary-6);
}

.page-other-tables-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-other-tables-list__content {
  flex-grow: 1;
  overflow-y: scroll;
}

.page-other-tables-list__empty {
  text-align: center;
}

.page-other-tables-list__table {
  margin: 0px 16px 20px 16px;
}

.page-other-tables-list__table:active {
  background-color: var(--color-secondary-6);
}

