@media (max-width: 575.98px) {
  .mobile-flex-tr {
    display: block;
  }

  .mobile-flex-td {
    max-width: inherit;
  }
}

@media (max-width: 767.98px) {
  .mobile-results-header-hidden svg {
    width: 16px;
    height: 16px;
  }
}
