[Unit]
Description=Ratatosk message broker
Documentation=
DefaultDependencies=false
After=
Before=shutdown.target
Requires=
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/srv/www/__riichitop/Ratatosk-prebuilt/ratatosk

[Install]
Alias=ratatosk.service
