.page-event-select {
  min-height: 580px;
}

.page-event-select__name {
  margin: 24px 16px;
  text-align: center;
  font-size: var(--font-size-secondary);
  word-break: break-word;
}

.page-event-select__section {
  margin: 44px 24px;
}

.page-event-select__section-content {
  margin-top: 16px;
}

.page-event-select__section-content > div {
  margin: 14px 0;
}

.page-event-select__bottom {
  margin: 16px 24px;
}

.radio-menuitem {
  border: 1px solid var(--primary-text-color);
  display: block;
  padding: 10px;
}

.radio-menuitem--active {
  border: none;
  background-color: var(--color-primary);
  color: var(--secondary-text-color);
}

.radio-menuitem:not(.radio-menuitem--active):active {
  background-color: var(--color-secondary-6);
}
