name: Build project artifacts & containers

on:
  push:

jobs:
  buildContainers:
    runs-on: ubuntu-latest
    if: |
      github.ref == 'refs/heads/master' &&
      github.repository == 'MahjongPantheon/pantheon'
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push [Backend common]
        uses: docker/build-push-action@v2
        with:
          context: ./Common/Backend
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-backend-common:latest
            ghcr.io/mahjongpantheon/pantheon-backend-common:${{ github.sha }}

      - name: Build and push [Frontend common]
        uses: docker/build-push-action@v2
        with:
          context: ./Common/Frontend
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-frontend-common:latest
            ghcr.io/mahjongpantheon/pantheon-frontend-common:${{ github.sha }}

      - name: Build and push [Database]
        uses: docker/build-push-action@v2
        with:
          context: ./Database
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-database:latest
            ghcr.io/mahjongpantheon/pantheon-database:${{ github.sha }}

      - name: Build and push [Forseti]
        uses: docker/build-push-action@v2
        with:
          context: ./Forseti
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-forseti:latest
            ghcr.io/mahjongpantheon/pantheon-forseti:${{ github.sha }}

      - name: Build and push [Frey]
        uses: docker/build-push-action@v2
        with:
          context: ./Frey
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-frey:latest
            ghcr.io/mahjongpantheon/pantheon-frey:${{ github.sha }}

      - name: Build and push [Hermod]
        uses: docker/build-push-action@v2
        with:
          context: ./Hermod
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-hermod:latest
            ghcr.io/mahjongpantheon/pantheon-hermod:${{ github.sha }}

      - name: Build and push [Hugin]
        uses: docker/build-push-action@v2
        with:
          context: ./Hugin
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-hugin:latest
            ghcr.io/mahjongpantheon/pantheon-hugin:${{ github.sha }}

      - name: Build and push [Gullveig]
        uses: docker/build-push-action@v2
        with:
          context: ./Gullveig
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-gullveig:latest
            ghcr.io/mahjongpantheon/pantheon-gullveig:${{ github.sha }}

      - name: Build and push [Mimir]
        uses: docker/build-push-action@v2
        with:
          context: ./Mimir
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-mimir:latest
            ghcr.io/mahjongpantheon/pantheon-mimir:${{ github.sha }}

      - name: Build and push [Sigrun]
        uses: docker/build-push-action@v2
        with:
          context: ./Sigrun
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-sigrun:latest
            ghcr.io/mahjongpantheon/pantheon-sigrun:${{ github.sha }}

      - name: Build and push [Bragi]
        uses: docker/build-push-action@v2
        with:
          context: ./Bragi
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-bragi:latest
            ghcr.io/mahjongpantheon/pantheon-bragi:${{ github.sha }}

      - name: Build and push [Skirnir]
        uses: docker/build-push-action@v2
        with:
          context: ./Skirnir
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-skirnir:latest
            ghcr.io/mahjongpantheon/pantheon-skirnir:${{ github.sha }}

      - name: Build and push [Tyr]
        uses: docker/build-push-action@v2
        with:
          context: ./Tyr
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/mahjongpantheon/pantheon-tyr:latest
            ghcr.io/mahjongpantheon/pantheon-tyr:${{ github.sha }}
