name: e2e tests

on:
  workflow_dispatch:
  push:

jobs:
  checkPr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run container
        run: make e2e_run
        env:
          ENV_FILENAME: .env.e2e

      - name: Add deps, migrate and build all systems
        run: make e2e_compile
        env:
          ENV_FILENAME: .env.e2e

      - name: Run all tests
        run: make e2e
        env:
          ENV_FILENAME: .env.e2e
          TESTINY_API_KEY: ${{ secrets.TESTINY_API_KEY }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: Fenrir/playwright-report/
          retention-days: 30

      - name: Stop containers
        if: always()
        run: make pantheon_stop

